# Title: Data Preprocessing for 507 Project
## Author: Diana Liang
## Date: 3/18/2020

Import modules

In [17]:
import pandas as pd
import numpy as np
import random

2015 data

In [2]:
# Consumer Data
consumer2015 = pd.read_sas('consumer_behavior_2015.XPT')
consumer2015 = pd.DataFrame({'SEQN': consumer2015.SEQN, 'money_grocery': consumer2015.CBD071,
                            'money_nonfood': consumer2015.CBD091, 'money_food': consumer2015.CBD111,
                            'money_eatout': consumer2015.CBD121, 'money_deliver': consumer2015.CBD131})
consumer2015.money_grocery.replace(77777, np.nan)
consumer2015.money_nonfood.replace(77777, np.nan)
consumer2015.money_food.replace(77777, np.nan)
consumer2015.money_eatout.replace(77777, np.nan)
consumer2015.money_deliver.replace(77777, np.nan)
consumer2015.money_grocery.replace(999999, np.nan)
consumer2015.money_nonfood.replace(999999, np.nan)
consumer2015.money_food.replace(999999, np.nan)
consumer2015.money_eatout.replace(999999, np.nan)
consumer2015.money_deliver.replace(999999, np.nan)
# Health Data
health2015 = pd.read_sas('health_2015.XPT')
health2015 = pd.DataFrame({'SEQN': health2015.SEQN, 'health': health2015.HSD010})
health2015.health.replace(7, np.nan)
health2015.health.replace(9, np.nan)
# Diet Data
diet2015 = pd.read_sas('diet_behavior_2015.XPT')
diet2015 = pd.DataFrame({'SEQN': diet2015.SEQN, 'meals_nothome': diet2015.DBD895,
                        'meals_fastfood': diet2015.DBD900, 'meals_ready': diet2015.DBD905,
                        'meals_frozen': diet2015.DBD910})
diet2015.meals_nothome.replace(7777, np.nan)
diet2015.meals_fastfood.replace(7777, np.nan)
diet2015.meals_ready.replace(7777, np.nan)
diet2015.meals_frozen.replace(7777, np.nan)
diet2015.meals_nothome.replace(9999, np.nan)
diet2015.meals_fastfood.replace(9999, np.nan)
diet2015.meals_ready.replace(9999, np.nan)
diet2015.meals_frozen.replace(9999, np.nan)
# Combine to 2015 data
data2015 = pd.merge(health2015, consumer2015, on='SEQN')
data2015 = pd.merge(data2015, diet2015, on='SEQN')
# Get rid of SEQN
del data2015['SEQN']

2013 data

In [3]:
# Consumer Data
consumer2013 = pd.read_sas('consumer_behavior_2013.XPT')
consumer2013 = pd.DataFrame({'SEQN': consumer2013.SEQN, 'money_grocery': consumer2013.CBD070,
                            'money_nonfood': consumer2013.CBD090, 'money_food': consumer2013.CBD110,
                            'money_eatout': consumer2013.CBD120, 'money_deliver': consumer2013.CBD130})
consumer2013.money_grocery.replace(77777, np.nan)
consumer2013.money_nonfood.replace(77777, np.nan)
consumer2013.money_food.replace(77777, np.nan)
consumer2013.money_eatout.replace(77777, np.nan)
consumer2013.money_deliver.replace(77777, np.nan)
consumer2013.money_grocery.replace(999999, np.nan)
consumer2013.money_nonfood.replace(999999, np.nan)
consumer2013.money_food.replace(999999, np.nan)
consumer2013.money_eatout.replace(999999, np.nan)
consumer2013.money_deliver.replace(999999, np.nan)
# Health Data
health2013 = pd.read_sas('health_2013.XPT')
health2013 = pd.DataFrame({'SEQN': health2013.SEQN, 'health': health2013.HSD010})
health2013.health.replace(7, np.nan)
health2013.health.replace(9, np.nan)
# Diet Data
diet2013 = pd.read_sas('diet_behavior_2013.XPT')
diet2013 = pd.DataFrame({'SEQN': diet2013.SEQN, 'meals_nothome': diet2013.DBD895,
                        'meals_fastfood': diet2013.DBD900, 'meals_ready': diet2013.DBD905,
                        'meals_frozen': diet2013.DBD910})
diet2013.meals_nothome.replace(7777, np.nan)
diet2013.meals_fastfood.replace(7777, np.nan)
diet2013.meals_ready.replace(7777, np.nan)
diet2013.meals_frozen.replace(7777, np.nan)
diet2013.meals_nothome.replace(9999, np.nan)
diet2013.meals_fastfood.replace(9999, np.nan)
diet2013.meals_ready.replace(9999, np.nan)
diet2013.meals_frozen.replace(9999, np.nan)
# Combine to 2015 data
data2013 = pd.merge(health2013, consumer2013, on='SEQN')
data2013 = pd.merge(data2013, diet2013, on='SEQN')
# Get rid of SEQN
del data2013['SEQN']

2011 data

In [4]:
# Consumer Data
consumer2011 = pd.read_sas('consumer_behavior_2011.XPT')
consumer2011 = pd.DataFrame({'SEQN': consumer2011.SEQN, 'money_grocery': consumer2011.CBD070,
                            'money_nonfood': consumer2011.CBD090, 'money_food': consumer2011.CBD110,
                            'money_eatout': consumer2011.CBD120, 'money_deliver': consumer2011.CBD130})
consumer2011.money_grocery.replace(77777, np.nan)
consumer2011.money_nonfood.replace(77777, np.nan)
consumer2011.money_food.replace(77777, np.nan)
consumer2011.money_eatout.replace(77777, np.nan)
consumer2011.money_deliver.replace(77777, np.nan)
consumer2011.money_grocery.replace(999999, np.nan)
consumer2011.money_nonfood.replace(999999, np.nan)
consumer2011.money_food.replace(999999, np.nan)
consumer2011.money_eatout.replace(999999, np.nan)
consumer2011.money_deliver.replace(999999, np.nan)
# Health Data
health2011 = pd.read_sas('health_2011.XPT')
health2011 = pd.DataFrame({'SEQN': health2011.SEQN, 'health': health2011.HSD010})
health2011.health.replace(7, np.nan)
health2011.health.replace(9, np.nan)
# Diet Data
diet2011 = pd.read_sas('diet_behavior_2011.XPT')
diet2011 = pd.DataFrame({'SEQN': diet2011.SEQN, 'meals_nothome': diet2011.DBD895,
                        'meals_fastfood': diet2011.DBD900, 'meals_ready': diet2011.DBD905,
                        'meals_frozen': diet2011.DBD910})
diet2011.meals_nothome.replace(7777, np.nan)
diet2011.meals_fastfood.replace(7777, np.nan)
diet2011.meals_ready.replace(7777, np.nan)
diet2011.meals_frozen.replace(7777, np.nan)
diet2011.meals_nothome.replace(9999, np.nan)
diet2011.meals_fastfood.replace(9999, np.nan)
diet2011.meals_ready.replace(9999, np.nan)
diet2011.meals_frozen.replace(9999, np.nan)
# Combine to 2015 data
data2011 = pd.merge(health2011, consumer2011, on='SEQN')
data2011 = pd.merge(data2011, diet2011, on='SEQN')
# Get rid of SEQN
del data2011['SEQN']

Combine all years together

In [10]:
data = data2015.append(data2013, ignore_index=True)
data = data.append(data2011, ignore_index=True)
data = data.query('health!="NaN"')

,health,money_grocery,money_nonfood,money_food,money_eatout,money_deliver,meals_nothome,meals_fastfood,meals_ready,meals_frozen
0,3.0,300.0,3.000000e+01,5.397605e-79,1.250000e+02,5.397605e-79,1.000000e+00,5.397605e-79,2.000000e+00,5.397605e-79
1,2.0,200.0,5.397605e-79,5.000000e+01,4.000000e+01,5.397605e-79,5.397605e-79,NaN,5.397605e-79,5.397605e-79
2,4.0,400.0,8.000000e+01,5.397605e-79,5.397605e-79,5.397605e-79,4.000000e+00,4.000000e+00,5.397605e-79,5.397605e-79
3,3.0,300.0,1.000000e+02,2.500000e+02,5.000000e+01,5.397605e-79,3.000000e+00,1.000000e+00,1.100000e+01,1.500000e+01
4,4.0,300.0,5.397605e-79,5.397605e-79,2.000000e+02,5.397605e-79,3.000000e+00,1.000000e+00,3.000000e+00,1.000000e+00
...,...,...,...,...,...,...,...,...,...,...
27537,3.0,400.0,5.397605e-79,5.397605e-79,4.500000e+02,5.397605e-79,2.000000e+01,6.000000e+00,5.397605e-79,1.000000e+00
27538,2.0,300.0,5.397605e-79,5.000000e+01,6.400000e+01,5.397605e-79,8.000000e+00,2.000000e+00,5.397605e-79,1.000000e+00
27539,2.0,535.0,5.397605e-79,1.070000e+02,2.000000e+01,5.397605e-79,5.397605e-79,NaN,5.397605e-79,1.000000e+00
27541,3.0,100.0,5.397605e-79,5.397605e-79,1.500000e+02,1.000000e+02,5.397605e-79,NaN,5.397605e-79,1.700000e+01
27542,2.0,540.0,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,NaN,5.397605e-79,4.000000e+00

In [12]:
data.to_csv('food_health.csv', index=False)

Create train and test data

In [2]:
food_health = pd.read_csv('food_health.csv')

,health,money_grocery,money_nonfood,money_food,money_eatout,money_deliver,meals_nothome,meals_fastfood,meals_ready,meals_frozen
0,3.0,300.0,3.000000e+01,5.397605e-79,1.250000e+02,5.397605e-79,1.000000e+00,5.397605e-79,2.000000e+00,5.397605e-79
1,2.0,200.0,5.397605e-79,5.000000e+01,4.000000e+01,5.397605e-79,5.397605e-79,NaN,5.397605e-79,5.397605e-79
2,4.0,400.0,8.000000e+01,5.397605e-79,5.397605e-79,5.397605e-79,4.000000e+00,4.000000e+00,5.397605e-79,5.397605e-79
3,3.0,300.0,1.000000e+02,2.500000e+02,5.000000e+01,5.397605e-79,3.000000e+00,1.000000e+00,1.100000e+01,1.500000e+01
4,4.0,300.0,5.397605e-79,5.397605e-79,2.000000e+02,5.397605e-79,3.000000e+00,1.000000e+00,3.000000e+00,1.000000e+00

In [25]:
num_obs = len(food_health.health)
num_train = int((num_obs*0.8)//1)
train_idx = random.sample(list(range(num_obs)), num_train)
#food_health.loc[train_idx]
test_idx = []
for i in range(num_obs):
    if i not in train_idx:
        test_idx.append(i)
print(len(train_idx), len(test_idx))

14820 3705

In [27]:
train = food_health.loc[train_idx]
test = food_health.loc[test_idx]

In [28]:
train.to_csv('food_train.csv')
test.to_csv('food_test.csv')